[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/mysql"]
	path = modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "modules/phpfpm"]
	path = modules/phpfpm
	url = git@github.com:Slashbunny/puppet-phpfpm.git
[submodule "modules/php"]
	path = modules/php
	url = git@github.com:jippi/puppet-php.git
[submodule "modules/wget"]
	path = modules/wget
	url = git://github.com/maestrodev/puppet-wget.git
[submodule "modules/nodejs"]
	path = modules/nodejs
	url = git://github.com/willdurand/puppet-nodejs.git
