---
memory: "4096"
cpus: "4"

authorize: /Users/Replace_me/.ssh/id_rsa.pub

keys:
    - ./files/vagrant.pub
    - /Users/Replace_me/.ssh/id_rsa


folders:
    - map: /Users/Replace_me/Local_PATH
      to: /home/vagrant/REMOTE_DEST

sites:
    - servername: servername.local
      docroot: /home/vagrant/DOCROOT
